# Images and outputs, gt
# images/*
# outputs/*
# pdfs/*
# gt/*
# reports/*



# Secrets
.env
*.env


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.egg-info/
*.egg
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

